.container {
    display: flex;
}
.appointments-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}
.appointment {

    margin-bottom: 15px;
}
.create-appointment-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}